/**** THEME ****/
:root {
    --color-primary: #00a8f3;
}

main {
    min-height: calc(100vh - 101px);
}

/**** CURSOR ****/
* {
    cursor: url("../images/cursor.png"), default;
}

a, select:hover, .btn:hover {
    cursor: url("../images/cursor_selected.png"), pointer;
}

.cursor-pointer { cursor: url("../images/cursor_selected.png"), pointer; }

/**** NEGATIVE MARGIN ****/
.mt-n1 { margin-top: -0.25rem; }
.mt-n2 { margin-top: -0.5rem; }
.mt-n3 { margin-top: -1rem; }
.mt-n4 { margin-top: -1.5rem; }
.mt-n5 { margin-top: -3rem; }

/**** MENU ****/
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link { color: var(--color-primary); }

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--color-primary);
    filter: brightness(.8);
}

/**** IMAGE ****/
.img-white { filter: saturate(0) brightness(2); }